<!-- Navbar -->
<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">


	<section id="nav-title">
	
		<h1>
			<a href="/">
				<img data-th-src="@{/images/logoEnchere.png}" alt="(Logo)Eni-Encheres" width="100" height="100"
					class="logo-img">
				<span data-th-text="#{nom-application}"></span>
			</a>
		</h1>
		
	</section>


	<nav>
		<ul>
			<li>
				<a href="/" data-th-text="#{frag-entete.a.accueil}"></a>
			</li>

<!--			&lt;!&ndash; Lien de connexion/login &ndash;&gt;-->
<!--			<li>-->
<!--				<a href="/login" data-th-text="#{frag-entete.a.connexion}"></a>-->
<!--			</li>-->

			<!-- Afficher soit Connexion soit Déconnexion selon l'état de l'authentification -->
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/logout" data-th-text="#{frag-entete.a.deconnexion}"></a>
			</li>
			<li data-th-unless="${#authorization.expression('isAuthenticated()')}">
				<a href="/login" data-th-text="#{frag-entete.a.connexion}"></a>
			</li>


		</ul>
	</nav>

</header>