<form xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-film-form(titreForm, urlAction, titreFilm)"
	method="post" data-th-action="@{${urlAction}}" data-th-object="${film}">

	<h1 data-th-text="${titreForm}"></h1>

	<ul class="flex-outer">

		<li>
			<label for="inputGenre">Genre :</label>
			<!-- Vérifie si urlAction est vide alors on est en mode LECTURE -->
			<th:block data-th-if="${#strings.isEmpty(urlAction)}">
				<!-- si urlAction est vide on désactive la possibilité de modifier le champ -->
				<input type="text" id="inputGenre" data-th-disabled="${#strings.isEmpty(urlAction)}"
					data-th-value="${film.genre.titre}">
			</th:block>
			<!-- Si urlAction N'est PAS vide alors on est en mode CREATION -->
			<th:block data-th-if="${!#strings.isEmpty(urlAction)}">
				<select id="inputGenre" data-th-field=*{genre} required>
					<option data-th-each="genre:${genresEnSession}" data-th-text="${genre.titre}" data-th-value="${genre.id}"></option>
				</select>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('genre')}"></div>
			</th:block>
		</li>

		<li>
			<label for="inputYear">Année :</label>
			<input type="text" id="inputYear" data-th-disabled="${#strings.isEmpty(urlAction)}" data-th-field=*{annee} required>
			<!-- Si mode création et si erreur affichage de l'erreur spécifique -->
			<th:block data-th-if="${!#strings.isEmpty(urlAction)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('annee')}"></div>
			</th:block>
		</li>

		<li>
			<label for="inputTitle">Titre :</label>
			<input type="text" id="inputTitle" data-th-disabled="${#strings.isEmpty(urlAction)}" data-th-field=*{titre} required>
			<!-- Si mode création et si erreur affichage de l'erreur spécifique -->
			<th:block data-th-if="${!#strings.isEmpty(urlAction)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('titre')}"></div>
			</th:block>
		</li>

		<li>
			<label for="inputDirector">Réalisateur :</label>
			<!--  En Mode Creation -->
			<th:block data-th-if="${!#strings.isEmpty(urlAction)}">
				<select id="inputDirector" data-th-field=*{realisateur} required>
					<th:block data-th-replace="~{fragments/fragment-participants-form :: frag-participants-form}"></th:block>
				</select>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('realisateur')}"></div>
			</th:block>
			<!-- En mode lecture -->
			<th:block data-th-if="${#strings.isEmpty(urlAction)}">
				<input type="text" id="inputDirector" data-th-disabled="${#strings.isEmpty(urlAction)}"
					data-th-value="${film.realisateur.prenom+' '+film.realisateur.nom}">
			</th:block>
		</li>

		<li>
			<label for="inputDuration">Durée :</label>
			<input type="text" id="inputDuration" data-th-disabled="${#strings.isEmpty(urlAction)}" data-th-field=*{duree}>
			<!-- Si mode création et si erreur affichage de l'erreur spécifique -->
			<th:block data-th-if="${!#strings.isEmpty(urlAction)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('duree')}"></div>
			</th:block>
		</li>

		<li>
			<label for="selectActors">Acteurs :</label>
			<!-- Mode création -->
			<th:block data-th-if="${!#strings.isEmpty(urlAction)}">
				<select id="selectActors" multiple data-th-field=*{acteurs}>
					<th:block data-th-replace="~{fragments/fragment-participants-form :: frag-participants-form}"></th:block>
				</select>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('acteurs')}"></div>
			</th:block>
			<!--  Mode lecture -->
			<th:block data-th-if="${#strings.isEmpty(urlAction)}">
				<select id="selectActors" data-th-disabled="${#strings.isEmpty(urlAction)}" multiple>
					<option data-th-each="acteur:${film.acteurs}" data-th-text="${'- '+acteur.prenom+' '+acteur.nom}"></option>
				</select>
			</th:block>

		</li>

		<li>
			<label for="taSynopsis">Synopsis :</label>
			<textarea id="taSynopsis" data-th-disabled="${#strings.isEmpty(urlAction)}" data-th-field=*{synopsis} rows="3"></textarea>
			<!-- Si mode création et si erreur affichage de l'erreur spécifique -->
			<th:block data-th-if="${!#strings.isEmpty(urlAction)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('synopsis')}"></div>
			</th:block>
		</li>

		<th:block data-th-if="${#strings.isEmpty(urlAction) and not #lists.isEmpty(film.avis)}">
			<li data-th-replace="~{fragments/fragment-avis :: frag-avis}"></li>
		</th:block>

		<!-- Bouton de soumission seulement si mode Création -->
		<th:block data-th-if="${not #strings.isEmpty(urlAction)}">
			<li>
				<button type="submit">Enregistrer</button>
			</li>
		</th:block>

	</ul>

</form>