<!-- Navbar -->
<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" data-th-fragment="frag-entete">


	<section id="nav-title">
	
		<h1>
			<a href="/">
				<img data-th-src="@{/images/logoEnchere.png}" alt="(Logo)Eni-Encheres" width="100" height="100"
					class="logo-img">
				<span data-th-text="#{nom-application}"></span>
			</a>
		</h1>

		<div class="user-info" sec:authorize="isAuthenticated()">
			<span sec:authentication="name"></span>
		</div>

		<div>
		<span id="date"></span>
		</div>

	</section>


	<nav>
		<ul>
			<li>
				<a href="/" data-th-text="#{frag-entete.a.accueil}"></a>
			</li>

			<!-- Afficher soit Profil soit 'rien' selon l'état de l'authentification -->
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
			<a href="/view-profil">Profil</a>
			</li>

			<!-- Afficher soit Vendre soit 'rien' selon l'état de l'authentification -->
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/creer-article">Vendre</a>
			</li>


			<!-- Afficher soit Connexion soit Déconnexion selon l'état de l'authentification -->
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/logout" data-th-text="#{frag-entete.a.deconnexion}"></a>
			</li>

			<li data-th-unless="${#authorization.expression('isAuthenticated()')}">
				<a href="/login" data-th-text="#{frag-entete.a.connexion}"></a>
			</li>


		</ul>
	</nav>


	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const dateElement = document.getElementById('date');
			const options = {
				weekday: 'long',
				year: 'numeric',
				month: 'long',
				day: 'numeric'
			};

			function updateDate() {
				const maintenant = new Date();
				dateElement.textContent = maintenant.toLocaleDateString('fr-FR', options);
			}

			updateDate(); // Affichage initial

			// Mise à jour quotidienne
			setInterval(updateDate, 86400000);
		});
	</script>


</header>